---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction2={{ text: 'Our Services', href: '#services' }}
    image={{ src: import('~/assets/images/hero3.webp'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="block lg:inline"
        >Empower Your Project with <span class="text-accent dark:text-ctp-sky highlight"> Blockchain</span> & <span
          class="text-accent dark:text-ctp-sky highlight"
        >
          Web3</span
        ></span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="block sm:inline">
        <span class="font-semibold">Enter the future of decentralized innovation with NGMI</span>
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    title="Why Blockchain"
    subtitle="Discover the advantages of implementing web3 and blockchain technology in your business and stay ahead of the curve."
    items={[
      [
        {
          title: 'Enhanced Security',
          description:
            'Blockchain technology provides a secure, decentralized, and tamper-proof data storage solution, protecting against cyber attacks and fraud.',
          icon: 'tabler:shield-check',
        },
        {
          title: 'Increased Transparency',
          description:
            'The decentralized nature of blockchain ensures transparency and traceability, allowing for a more efficient audit process and fostering trust among stakeholders.',
          icon: 'tabler:eye',
        },
        {
          title: 'Reduced Costs',
          description:
            'By eliminating intermediaries and automating processes with smart contracts, blockchain technology can significantly reduce operational costs.',
          icon: 'tabler:coin',
        },
      ],
      [
        {
          title: 'Decentralization, Security, and Cutting-Edge Innovationed Efficiency',
          description:
            "Blockchain's decentralized, secure, and transparent structure streamlines processes, reduces redundancies, and enhances data sharing across networks.",
          icon: 'tabler:rocket',
        },
        {
          title: 'Fostering Innovation',
          description:
            'Web3 & blockchain technology open up new possibilities for businesses to explore, from tokenization and decentralized finance to decentralized applications (dApps).',
          icon: 'tabler:download',
        },
        {
          title: 'Enhanced User Experience',
          description:
            'Web3 integration allows for seamless, secure, and user-friendly interactions with decentralized applications and platforms, driving better user engagement.',
          icon: 'tabler:users',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="We Walk the Walk with You"
    items={[
      {
        title: 'Expert Developers',
        description:
          'Our team consists of highly skilled developers with extensive experience in the blockchain and web3 space, ensuring top-notch solutions for your projects.',
      },
      {
        title: 'Deep Blockchain & Web3 Background',
        description:
          'We understand the ins and outs of the ever-evolving blockchain and web3 technologies, enabling us to provide innovative and effective solutions.',
      },
      {
        title: 'Client-Centric Approach',
        description:
          'We work closely with you to understand your unique needs and goals, crafting tailored solutions that drive success and growth for your business.',
      },
    ]}
    image={{
      src: import('~/assets/images/hero_ngmi.webp'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-ctp-text sm:text-3xl mb-2">
        Your Web3 & Blockchain Partner
      </h3>
      At NGMI, we're dedicated to empowering businesses with innovative web3 and blockchain solutions. Our team of experts
      brings their deep knowledge and passion to every project, ensuring your success in the decentralized world.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Decentralized Finance (DeFi)',
      },
      {
        title: 'Smart Contracts & dApps',
      },
      {
        title: 'Tokenization & Digital Assets',
      },
      {
        title: 'Web3 Gaming & Virtual Economies',
      },
      {
        title: 'Metaverse & Virtual Reality',
      },
      {
        title: 'Identity & Data Privacy',
      },
    ]}
    image={{
      src: import('~/assets/images/ngmi2.webp'),
      alt: 'NGMI second',
    }}
  />

  <Steps
  title="Our Projects"
  items={[
    {
      title: 'MintWorldGame.com',
      description:
        'MintWorld is a community-owned web3-based 2D Monster Catcher RPG. Players can collect, fight, and trade unique blockchain-based monsters in this immersive game experience.',
      icon: 'tabler:world',
      link: 'https://www.mintworldgame.com',
      buttonText: 'Visit MintWorldGame',
    },
    {
      title: 'Cantoverse.net',
      description:
        'Cantoverse is an Art Gallery and Decentralized Marketplace built on Canto. Discover unique NFTs created by talented artists from around the world, and buy or sell them securely in Cantoverse.',
      icon: 'tabler:world',
      link: 'https://www.cantoverse.net',
      buttonText: 'Visit Cantoverse',
    },
  ]}
/>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our Customer Services"
    subtitle="Explore the possibilities of Blockchain and Web3 technology for your business"
    items={[
      {
        title: 'Blockchain Smart Contract Development',
        description:
          'Our team of experts will help you design, develop, and deploy smart contracts tailored to your business needs.',
        icon: 'tabler:shield',
      },
      {
        title: 'Blockchain Consulting',
        description:
          "We offer advice on strategic movement to Blockchain and Web3 technology based on your demands and requirements, going hand in hand with your company's mission and vision.",
        icon: 'tabler:help',
      },
      {
        title: 'Unity Game Development & Consulting',
        description:
          'Leverage our expertise in Unity game development to create engaging gaming experiences and integrate blockchain technology seamlessly.',
        icon: 'tabler:download',
      },
      {
        title: 'Web3 Integration',
        description:
          'Integrate Web3 technology into your games, enabling decentralized features and token-based economies to drive user engagement and retention.',
        icon: 'tabler:world',
      },
      {
        title: 'API & Infrastructure Development',
        description:
          'Our team can help you design and develop robust APIs and infrastructure solutions to support your blockchain and Web3 applications.',
        icon: 'tabler:rocket',
      },

      {
        title: 'Custom Blockchain Solutions',
        description:
          'Tailor-made blockchain solutions designed specifically for your unique business requirements and objectives.',
        icon: 'tabler:tools',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Contact Us',
      href: '/contact',
      icon: 'tabler:mail',
    }}
  >
    <Fragment slot="title">Get in Touch</Fragment>

    <Fragment slot="subtitle">
      Interested in our services or have any questions? <br class="hidden md:inline" />
      Don't hesitate to reach out!
    </Fragment>
  </CallToAction>
</Layout>
