---
import { Image } from '@astrojs/image/components';
import localImage from '../assets/images/ngmilogo.webp';
const localAlt = 'The Astro Logo';
---

<span
  class="flex items-center self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={localImage} alt={localAlt} width={96} height={72} />
</span>
